<html>
<head>
  <title>Welcome to my Website</title>
  <link rel="stylesheet" href="/css/home.css">
</head>

<body>
  <header>
    <%- include('partials/header', { activePage: 'home' }) %>
  </header>

  <div class="separator" style="margin-top: 0px; margin-bottom: 0px;"></div>
  <!-- Other content -->
  <div class="container">
    <div class="sidebar">
      <img src="/a_1.jpg" alt="Image" width="100%" height="408px" style="border-radius: 15px;">
    </div>
    <div class="main-content">
        <div class="text-container" style="line-height: 23px;">
            <h1>Hong Wang</h1>
            <p>
                I am a skilled software engineer with expertise in web development, database management, and problem-solving. With extensive experience in the industry, I have successfully delivered innovative solutions to clients and users.
            </p><p>
                My focus is on front-end web development, where I excel in creating visually appealing and interactive user interfaces using HTML, CSS, and JavaScript. I am proficient in modern frameworks like React and Angular, enabling me to build dynamic and responsive web applications.
            </p><p>
                I am dedicated to staying updated with the latest technologies and industry trends, always eager to learn and take on new challenges. As a collaborative team player, I thrive in environments that foster creativity, teamwork, and continuous improvement.
            </p><p>
                My diverse skill set, combined with my passion for software engineering, allows me to contribute effectively to any project or organization. I am committed to delivering innovative and reliable software solutions that exceed expectations and drive positive outcomes.

            </p>
        </div>
    </div>
  </div>

  <footer> 
    <%- include('partials/footer', { activePage: 'home' }) %>    
  </footer>
</body>
</html>
