<html>
<head>
  <title>Welcome to my Website</title>
  <link rel="stylesheet" href="/css/home.css">
</head>

<body>
  <header>
    <%- include('partials/header', { activePage: 'home' }) %>
  </header>

  <div class="separator" style="margin-top: 0px; margin-bottom: 0px;"></div>
  <!-- Other content -->
  <div class="container">
    <div class="sidebar">
      <img src="/s_1.jpg" alt="Image" width="100%" height="408px" style="border-radius: 15px;">
    </div>
    <div class="main-content">
        <div class="text-container" style="line-height: 21px;">
            <h1>My Services</h1>
            <p>
              I can provide comprehensive technical support throughout the software development lifecycle, from initial coding to testing and ongoing maintenance. With my expertise in various programming languages and frameworks, I excel in writing clean and efficient code, conducting thorough debugging processes, and optimizing software performance.
            </p>
            <p>
              In addition to my technical skills, I am highly experienced in collaborating with cross-functional teams, communicating complex technical concepts to non-technical stakeholders, and managing project timelines and deliverables. I have a proven track record of ensuring the smooth operation of software applications, resolving critical issues promptly, and implementing effective solutions to meet the specific needs of clients and end-users.
            </p>
            <p>
              I am committed to staying updated with the latest industry trends and emerging technologies, enabling me to provide cutting-edge solutions and deliver innovative software products. With my dedication to quality and attention to detail, I strive to exceed expectations and drive positive outcomes for every project I undertake.
            </p>
            <p>
              Whether you require assistance with software development, testing, or ongoing maintenance, I am ready to provide the technical support and expertise you need to achieve your goals.
            </p>
          </div>
          
    </div>
  </div>

  <footer> 
    <%- include('partials/footer', { activePage: 'home' }) %>    
  </footer>
</body>
</html>
