<html>
<head>
  <title>Welcome to my Website</title>
  <link rel="stylesheet" href="/css/home.css">
</head>

<body>
  <header>
    <%- include('partials/header', { activePage: 'home' }) %>
  </header>

  <div class="separator" style="margin-top: 0px; margin-bottom: 0px;"></div>
  <!-- Other content -->
  <div class="container">
    <div class="sidebar">
      <img src="/c_1.jpg" alt="Image" width="100%" height="408px" style="border-radius: 15px;">
    </div>
    <div class="main-content">
      <form action="/contact" method="post"  style="margin-left: 100px;">
        <label for="first-name">First Name:</label>
        <input type="text" id="first-name" name="first-name" size="20px" required>
      
        <label for="last-name">Last Name:</label>
        <input type="text" id="last-name" name="last-name" size="20px" required>
      
        <label for="contact-number">Contact Number:</label>
        <input type="tel" id="contact-number" name="contact-number" size="20px" required>
      
        <label for="email">Email Address:</label>
        <input type="email" id="email" name="email" size="40px">

        <label for="message">Message:</label>
        <textarea id="message" name="message" rows="6" style="width:150%;" required></textarea>

        <p class="button-container">
          <button type="submit">Submit</button>
          <button type="reset">Reset</button>
        </p> 
      </form>
    </div>
  </div>

  <footer> 
    <%- include('partials/footer', { activePage: 'home' }) %>    
  </footer>
</body>
</html>
