<html>
<head>
  <title>Welcome to my Website</title>
</head>
<body>
  <mat-toolbar color="primary" class="custom-toolbar">
    <nav>
      <span><img src="assets/logo01.png" alt="Logo" height="72"></span>
    </nav>
    <span class="example-spacer"></span>
    <div>
      <nav>
        <a mat-button routerLink="/home" routerLinkActive="active" class="button-with-color-change">Home</a>
        <a mat-button routerLink="/about" class="button-with-color-change">About</a>
        <a mat-button routerLink="/project" class="button-with-color-change">Project</a>
        <a mat-button routerLink="/services" class="button-with-color-change">Service</a>
        <a mat-button routerLink="/contact" class="button-with-color-change nounderline">Contact</a>
      </nav>
    </div>
  </mat-toolbar>
 
</body>
</html>
