<html>
<head>
  <title>Welcome to my Website</title>
</head>
<body>
  <mat-toolbar color="primary" class="custom-toolbar">
    <nav>
      <span><img src="assets/logo01.png" alt="Logo" height="72"></span>
    </nav>
    <span class="example-spacer"></span>
    <div>
      <nav>
        <a mat-button routerLink="/home" routerLinkActive="active" class="button-with-color-change">Home</a>
        <a mat-button routerLink="/about" class="button-with-color-change">About</a>
        <a mat-button routerLink="/project" class="button-with-color-change">Project</a>
        <a mat-button routerLink="/services" class="button-with-color-change">Service</a>
        <a mat-button routerLink="/contact" class="button-with-color-change nounderline">Contact</a>
      </nav>
    </div>
  </mat-toolbar>
  <div class="horizontal-container">
    <div class="div-with-opacity">
      <div class="image-container">
        <img src="../assets/about.jpg" alt="Image">
      </div>
      <div class="text-container">
        <p></p>
        <p>  I'm an experienced Software Engineer -ing 
          Technician who graduated from Centennial
          ial College. Over the past decade, I've 
          specialized in website design and computer networks. </p>
          <p></p>
          <p></p>
      </div>
    </div>
    <div class="div-with-opacity">
      <div class="image-container">
        <img src="../assets/project.jpg" alt="Image">
      </div>
      <div class="text-container">
        <p>These projects have not only enhanc -
          ed my technical skills but also provi 
          -ded me with valuable hands-on experi 
          -ence in software development, web 
          design, and network management.</p>
      </div>
    </div>
    <div class="div-with-opacity">
      <div class="image-container">
        <img src="../assets/service.jpg" alt="Image">
      </div>
      <div class="text-container">
        <p>I can provide technical support in 
          software development, testing, and 
          maintenance. With my expertise, I can 
          assist with coding, debugging, and 
          ensuring the smooth operation of 
          software applications.</p>
      </div>
    </div>
    <div class="div-with-opacity">
      <div class="image-container">
        <img src="../assets/contact.jpg" alt="Image">
      </div>
      <div class="text-container">
        <p>Feel free to reach out to me via email
           or phone. I am available to discuss 
           any inquiries, collaborations, or op 
           -portunities you may have. I look for 
           -ward to hearing from you!</p>
      </div>
    </div>
  </div>
  <router-outlet></router-outlet>
  <footer>
         Name:Hong Wang | SN:301243509  |  PhoneNumber: 286-400-3721  
  </footer>
</body>
</html>

